{% load static %}
<!-- working with this navbar in saas_apps file -->
<!-- Header Section -->
<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'reforms' %}" class="header__logo">
        <img style="max-width: 200px;" src="{% static 'images/Deloitte.svg' %}"></a>

      <!-- <a href="{% url 'profiles' %}" class="header__logo">
        <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" /> -->
      </a>
      
      
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
        {% if request.user.is_authenticated %}  
          <li class="header__menuItem"><a href="{% url 'reforms' %}">Reforms</a></li>  
          <li class="header__menuItem"><a href="">Logged in as: {{user.username}}</a></li>          
          <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>

        {% endif %}
        </ul>
      </nav>
    </div>
  </header>
<!-- <img style="max-width: 200px;" src="{% static 'images/Deloitte.svg' %}"> -->

<br>


