{% extends 'main.html' %}
{% block content %}


<main class="projects">
  <section class="hero-section text-center">
    <div class="container container--narrow">
      <div class="hero-section__box">
        <h2>Search for <span>Reform</span></h2>
      </div>

      <div class="hero-section__search">
        <form class="form" action="{% url 'saas_app4' %}" method="get">
          <div class="form__field">
            <label for="formInput#search">Search By Reform </label>
            <input class="input input--text" id="formInput#search" type="text" name="search_query"
              placeholder="Search by Project Title" value="{{search_query}}" />
          </div>

          <input class="btn btn--sub btn--md" type="submit" value="Search" />
        </form>
      </div>
    </div>
  </section>

<div class="container text-center">
    <div class="row">
        
        <div class="col">
   
        </div>
        <div class="col-6">
          {% if request.user.is_authenticated %}  
            <h2>REFORMS</h2>
            <ul>
                {% for app in apps %}
                  {% if app.approved %}
                    <li>
                        Title:<a href="{% url 'single_saas_app' app.id %}">{{app.title}}</a>--
                        <!-- Description:{{app.description}}  -->
                        Date Created: {{app.created}}
                        <a href="{% url 'update-project' app.id %}">Edit</a>
                        <a href="{% url 'delete-object' app.id %}">Delete</a>
                    </li>    
                  {% endif %}    
                {% endfor %}
            </ul>
            <br>
          {% endif %} 
        </div>
        <div class="col">
            
        </div>
        </div>
    <div class="row">
        
    <div class="col-md-auto">
            
            
    </div>
  </div>
        
      </main>
{% endblock content %}